[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "exams.mylearn"]
	path = exams.mylearn
	url = https://github.com/hdarjus/exams.mylearn
[submodule "sparvaride"]
	path = sparvaride
	url = https://github.com/hdarjus/sparvaride
